@model parkingPass2.Data.Ticket

<div class="form-group">
    @Html.LabelFor(model => model.Client.AD.LanId, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.Client.AD.LanId, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Client.AD.FirstName, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.Client.AD.FirstName, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Client.AD.LastName, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.Client.AD.LastName, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Client.AD.Phone, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.Client.AD.Phone, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Client.AD.Email, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.Client.AD.Email, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Client.AD.PersonnelType, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.Client.AD.PersonnelType, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Client.AD.Affiliation, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.Client.AD.Affiliation, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Client.AD.UPN, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.Client.AD.UPN, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Client.AD.WorkForceID, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.Client.AD.WorkForceID, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Client.AD.ManagerName, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.Client.AD.ManagerName, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Client.AD.CN, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.Client.AD.CN, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Client.AD.Company, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.Client.AD.Company, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Client.AD.Organization, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.Client.AD.Organization, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Client.AD.AmpBox, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.Client.AD.AmpBox, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Client.AD.ExpirationDate, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.Client.AD.ExpirationDate, new { @class = "form-control", @type = "datetime", @readonly = "readonly" })
    </div>
</div>
